.feature-buttons-row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.store-feature-button{
    width: var(--store-feature-button-width);
    font-size: var(--store-feature-button-font-size);
}
.feature-status{
    margin-top: 10px;
    text-align: center;
    color: gray;
}
.hide{
    display: none;
}
.book-appointment-form{
    z-index: 1;
}

@media only screen and (max-width: 585px) {
    .feature-buttons-row{
        display: block;
    }
    .button-col{
        text-align: center;
    }
    .store-feature-button{
        font-size: var(--store-feature-button-font-size);
    }
    .feature-status{
        width: var(--store-feature-button-width);
        margin-left: auto;
        margin-right: auto;
    }
}