.login-signup-container{
    height: 100vh;
    text-align: center;
    padding: 50px;
}
/* input{
    margin: 10px;
}
button{
    margin: 10px;
} */
.remove-decorations{
    text-decoration: none;
}
.hide{
    display: none;
}
.login-wrapper{
    transition: 1s;
}
.signup-wrapper{
    transition: 1s;
}
.empty-value-error{
    color: red;
}