.service-provided-container{
    background: url('../../../assets/services.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
}
.service-heading{
    font-size: var(--section-heading-size);
    font-weight: 500;
    text-align: center;
    padding-top: var(--section-heading-top-padding);
}

.services-wrapper{
    height: var(--service-wrapper-height);
    width: var(--service-wrapper-width);
    margin: auto;
    display: flex;
}
.services-col{
    height: 100%;
    width: calc(var(--service-wrapper-width)/2);
}
.services-row{
    width: 100%;
    height: 33%;
    display: flex;
}
.service-icons{
    width: 9vw;
    margin: 3vh 2vw;
}
.service-name{
    margin: auto 0;
    font-size: var(--service-name-font-size);
}
@media only screen and (max-width: 675px){
    .services-wrapper{
        height: auto;
        width: 100vw;
        margin: 0;
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 525px){
    .services-wrapper{
        height: auto;
        width: 100vw;
        margin: 0;
        justify-content: space-evenly;
    }
    .services-col{
        width: auto;
    }
}
/* @media only screen and (max-width: 450px){
    .services-col{
        width: auto;
    }
} */