.landing-screen-container{
    background: url('../../../assets/landingscreen2.svg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.landing-text{
    text-align: center;
    padding-top: var(--landing-text-top-padding);
}
.landing-text-small{
    font-size: var(--landing-font-size-small);
    font-weight: 200;
}
.landing-text-big{
    font-size: var(--landing-font-size-big);
    font-weight: 700;
}

.search-bar{
    display: inline-flex;
    width: 100%;
    margin-top: var(--search-bar-margin-top);
}  
#search-input{
    margin-left: auto;
    height: var(--search-bar-height);
    width: var(--search-bar-width);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 6px 0 0 6px;
}
.search-button{
    padding: 2px;
    margin-right: auto;
    width: var(--search-button-width);
    border: none;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0 6px 6px 0;
}